   

.set{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 30%;
}
.A{
    margin-top: 2%;
    width: 2px;
    background-color: yellow;
}
.B{
    margin-left: 20%;
    margin-top: -8%;
}
.D{
    margin-left: 4%;
    margin-top: -2%;
    
    

}
.E{
    margin-left:60% ;
    margin-top: -1%;
}
.F{
  margin-left: 65%;  
  margin-top: -1%;
}
.zz{
    background-color: yellow;
    
}
.G{
    margin-top: 1%;
    margin-left: 20%;
    width: 20px;
    height: 30;
    
}
.P{
    margin-left: 35%;
    margin-top: -5%;
}
.W{
    margin-left: 40%;
    margin-top: 2%;
}
.V{
    margin-left:35% ;
    margin-top: -2%;
}
.O{
    margin-left: 35%;
}
.Q{
    margin-left: 35%;
}
#R{
    margin-left: 37%;
    border: 20px;
    margin-top: 3%;
}
#Y{
    margin-left: 10%;
    border: 20px;
    margin-top: -10%;
   
    
}
.I{
    justify-content: space-between;
    margin-right: 5%;
}
.PP{
    margin-left: 30%;
}
.PP{
    margin-left: 10%;
}
.QP{
    margin-left: 40%;
    margin-top: -22%;
}
.DA{
    margin-left: 65%;
    margin-top: -22%;
}
.D2{
    margin-left: 85%;
    margin-top: -22%;
}
.ZP{
margin-left: 10%;
margin-top: 5%;
}
.ZP2{
    margin-left: 35%;
    margin-top: -23%;
}
.LL{
    margin-left: 65%;
    margin-top: -25%;
}
.B2{
    margin-left: 85%;
    margin-top: -25%;
}
.p5{
    margin-left: 30%;
}
.P3{
    margin-left: 10%;
}
.P4{
    margin-left: 35%;
    margin-top: -17%;
}
.W1{
    margin-left: 60%;
    margin-top: -14%;
}
.P9{
    margin-left: 10%;
    margin-top: 5%;
}
.L4{
    margin-left: 30%;
    margin-top: -15%;
}
.OP1{
  margin-left: 55%;
  margin-top: -15%;  
}
.NN{
    margin-left: 80%;
    margin-top: -15%;
}
.ZQ{
    margin-left: 10%;
    margin-top: 5%;
}
.OW{
  margin-left: 35%; 
  margin-top: -15%; 
}
.O3{
    margin-left: 60%;
    margin-top: -15%;
}
.MMM{
    margin-left: 83%;
    margin-top: -15%;
}
.DDD2{
 margin-left: 30%; 
 color: wheat; 
 background-color: yellow; 
 
}
.LLLL{
    margin-left: 30%;
}
.XX3{
  margin-left: 10%;  
}
.BR2{
    margin-left: 35%;
    margin-top: -22%;
}
.vv4{
    margin-left: 57%;
    margin-top: -22%;
}
.II{
    color: black;
    background-color: yellow;
    padding: 5px 10px; 
}
.ZA{
    margin-left: 25%;
    margin-top: -17%;
}
.wz{
    margin-left: 10%;
}
.QSS{
    margin-left:40% ;
    margin-top: -14%;
}
.JJC{
    margin-left: 60%;
    margin-top: -14%;
}
.zzzw{
    background-color: purple;;
    
}
.ut{
    margin-left: 10%;
    margin-top: -15%;
    /* color: white; */
    
}
.DP{
    border-radius: 60PX;
    padding: 10px;
}

@media screen {
    
}




    







